<?xml version="1.0" encoding="utf-8" ?>
<providers xmlns="http://ibatis.apache.org/providers">
  <clear />
  <provider
      name="xdevFake"
      enabled="true"
      description="Fake provider for xDev.IBatisNet XML integration/performance smoke tests"
      assemblyName="XDev.IBatisNet.IntegrationPerf"
      connectionClass="XDev.IBatisNet.IntegrationPerf.FakeDb.FakeDbConnection"
      commandClass="XDev.IBatisNet.IntegrationPerf.FakeDb.FakeDbCommand"
      parameterClass="XDev.IBatisNet.IntegrationPerf.FakeDb.FakeDbParameter"
      parameterDbTypeClass="System.Data.DbType, System.Data.Common"
      parameterDbTypeProperty="DbType"
      dataAdapterClass="XDev.IBatisNet.IntegrationPerf.FakeDb.FakeDbDataAdapter"
      commandBuilderClass="XDev.IBatisNet.IntegrationPerf.FakeDb.FakeDbCommandBuilder"
      usePositionalParameters="false"
      useParameterPrefixInSql="true"
      useParameterPrefixInParameter="true"
      parameterPrefix="@"
      allowMARS="false" />
</providers>
