<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper">
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="false" />
    <setting useReflectionOptimizer="true" />
  </settings>

  <providers resource="providers.config" />

  <database>
    <provider name="xdevFake" />
    <dataSource name="IntegrationPerf" connectionString="fake://integration-perf" />
  </database>

  <alias>
    <typeAlias alias="SamplePatient" type="XDev.IBatisNet.IntegrationPerf.SamplePatient, XDev.IBatisNet.IntegrationPerf" />
  </alias>

  <sqlMaps>
    <sqlMap resource="SqlMaps/Patient.xml" />
  </sqlMaps>
</sqlMapConfig>
